$body-background-color: #ffffff;
$body-text-color: #333333;
$accent-color: #e4002b; // Mahindra red
$link-color: $accent-color;
$nav-background-color: #f2f2f2;
$nav-text-color: #000000;
$search-background-color: #ffffff;
