$body-background-color: #1a1a1a;
$body-text-color: #f2f2f2;
$accent-color: #ffc20e; // Accent yellow
$link-color: $accent-color;
$nav-background-color: #000000;
$nav-text-color: #ffffff;
$search-background-color: #333333;
